---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
Collection of users for managing ownership and access to resources
---

# {{.Name}} ({{.Type}})

Collection of users for managing ownership and access to resources


## Example Usage

{{ tffile "examples/resources/tsuga_team/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
