---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
Collection of users for managing ownership and access to resources
---

# {{.Name}} ({{.Type}})

Collection of users for managing ownership and access to resources


## Example Usage

{{ tffile "examples/data-sources/tsuga_team/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
